@import '../../style/variables.scss';

.header {
  $border-style-header: 1px solid #a3a3a3;

  width: 100%;
  display: grid;
  grid-template-columns: 60px 60px auto 60px;
  grid-template-rows: 65px;

  background-color: white;
  border-right: 0;
  border-left: 0;
  border-bottom: $border-style-header;

  &.standalone {
    grid-template-columns: 60px 60px auto;
  }

  .header-item {
    $width-border: 59px; //60(width grid template) - 1(border-width)
    &.navigation {
      height: 100%;
      width: $width-border;
      border-right: $border-style-header;
    }
    &.header-close {
      width: $width-border;
      border-left: $border-style-header;
    }
    .header-logo {
      padding: 6px;
      margin-left: 2px;
    }
    .close-icon {
      margin-top: 11px;
      margin-left: 3px;
      background-color: transparent;
      border: none;
    }
  }

  .header-title {
    padding: 0.4em;
    padding-left: 1em;

    background-color: $background-header-color;

    #header-title {
      font-size: 90%;
    }
  }

  .header-logo {
    // horizontal align
    justify-self: center;
    // vertical align
    align-self: center;
    height: 50px;
    width: auto;

    background-color: $background-header-color;
  }
}
