$notification-update-height: 85px;
$notification-height: 65px;
$notification-height-mobile: 185px;
$mobile-width: 550px;

.notification {
  position: fixed;
  top: -$notification-height;
  z-index: 1500;
  background-color: rgba(46, 139, 166, 0.9);
  left: 0%;
  width: 100%;
  margin: auto;
  height: $notification-height;
  text-align: center;
  transition: transform 350ms ease;

  &.update {
    top: -$notification-update-height;
    height: $notification-update-height;
  }

  &.visible {
    display: block;
    transform: translateY($notification-height);
  }

  &.update.visible {
    display: block;
    transform: translateY($notification-update-height);
  }

  @media (max-width: $mobile-width) {
    top: -$notification-height-mobile;
    height: $notification-height-mobile;

    &.visible {
      transform: translateY($notification-height-mobile);
    }
  }

  .close-button {
    float: right;
    color: white;
    background-color: transparent;
    border: none;

    &:hover {
      font-weight: bold;
    }
  }

  div.title {
    padding: 1em;
    padding-bottom: 0.2em;
    font-weight: bold;
    color: white;

    @media (max-width: $mobile-width) {
      padding: 3em;
      padding-bottom: 2em;
    }

    @media (max-width: 370px) {
      padding-bottom: 1em;
    }
  }
  .update-button {
    margin-left: 1em;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.3em;
    background-color: white;

    &:hover {
      font-weight: bold;
      background-color: #eeeded;
    }
  }
}
