/*
 * Override Lunatic component style
*/
@import './variables.scss';

// Declaration's style
.components .declaration-lunatic {
  color: $declaration-color;
}

.body-container {
  margin-top: 1em;
  background-color: $background-header-color;
  padding-top: 2em;
  padding-bottom: 2em;
  display: grid;
  grid-template-columns: 90% auto;
  grid-template-rows: 90% auto;
  height: 75%;
}

.components {
  .lunatic-component {
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

// Checkbox's style

fieldset.checkbox-group {
  padding: 0;
  margin: 0;
  border: none;

  $border-color-checkbox: #aaaaaa;
  $border-color-checkbox-checked: #aaaaaa;

  $background-color-checkbox: #d6d6d6;
  $background-color-checkbox-checked: #b7d6f1;

  $modality-label-color: black;
  $modality-label-color-checked: #1d63a0;

  $modality-code-background-color: white;

  // Style of containing of checkboxes
  .checkbox-modality {
    border-radius: 5px;
    border: 1px solid $border-color-checkbox;
    background-color: $background-color-checkbox;
    padding: 0.8em;
    margin: 8px;
    width: 45%;

    &.content-checked {
      background-color: $background-color-checkbox-checked;
    }
  }

  .code {
    position: relative;
    left: -1em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    color: $modality-label-color;
    font-weight: bold;
    border: 1px solid $border-color-checkbox;
    background-color: $modality-code-background-color;
    border-radius: 5px;
  }

  .checkbox-lunatic {
    opacity: 0;

    &:checked + label::after {
      float: right;
      content: '✓';
    }
    &:focus + label,
    &:hover + label,
    &:checked + label {
      color: $modality-label-color-checked;
      font-weight: bold;
      .code {
        color: $modality-code-background-color;
        background-color: $declaration-color;
        border-color: $declaration-color;
      }
    }
  }
}
