.navigation {
  align-self: center;
}

.menu-icon {
  margin-top: 7px;
  position: relative;
  z-index: 12;
  background-color: transparent;
  border: none;
}

.menu {
  $menu-width: 250px;
  height: 100%;
  width: $menu-width;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -$menu-width;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: transform 250ms ease;

  background-color: white;

  .version {
    position: fixed;
    bottom: 0.3em;
  }

  &.slideIn {
    visibility: visible;
    transform: translateX($menu-width);
  }

  .navigation-container {
    margin-top: 80px;
    padding-left: 0.5em;
  }
  ul {
    padding-left: 0;
  }
  li {
    display: block;
  }
}

.background-menu {
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.5;
}

.subnav-content {
  background-color: whitesmoke;
  position: relative;
}

a {
  color: black;
  cursor: default;
}
a.active {
  color: green;
  cursor: pointer;
}
