@import '../../style/variables.scss';

.buttons {
  text-align: right;

  .button-lunatic,
  .navigation-button {
    background-color: $background-button-color;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 2em;

    &:hover,
    &:focus {
      border: none;
      background-color: white;
      color: $background-button-color;
    }
  }
}
