@import '../../style/variables.scss';

.header {
  width: 100%;
  display: table;
  align-items: center;
  background-color: $background-header-color;
  border-right: 0;
  border-left: 0;

  .header-logo {
    display: table-cell;
    height: 40px;
    width: 40px;
    img {
      vertical-align: middle;
      height: 50px;
      width: auto;
      padding: 1em;
    }
  }
  .header-title {
    display: table-cell;
  }

  .quit-icon {
    background-color: transparent;
    border: none;
    position: relative;
    top: 1em;
    right: 1em;
    float: right;
  }
}
