@import '../../style/variables.scss';

.Breadcrumb {
  width: max-content;
  color: black;
  margin-top: 0.3em;

  .breadcrumb-lunatic {
    text-transform: uppercase;
    font-size: 95%;

    &::before {
      content: '\3009';
      margin-right: 0.8em;
      font-weight: bold;
    }
  }

  .breadcrumb-element-lunatic {
    &::before {
      content: '\3009';
      margin-right: 0.8em;
      font-weight: bold;
    }
    margin-left: 0.8em;
    display: inline;
    padding-bottom: 3px;
    border-bottom: $breadcrumb-line-color 2px solid;
  }
}

.sequence {
  padding-bottom: 3px;
  border-bottom: $breadcrumb-line-color 2px solid;
}
